{% extends 'base.html' %}

{% block title %}
{{ restaurant.name }} 
{% endblock title %}

{% block content %}

<h2>{{ restaurant.name }}</h2>

<section class="dados-de-filme">
    <img src="{{ restaurant.poster_url }}" alt="Poster do restaurante {{ restaurant.name}}">
    <ul>
        <li>Nome: {{ restaurant.name }}</li>
        
        <li class="card-title">Avarage rating:
            {% if restaurant.average_rating > 0.5 %} 
            <i class="fa fa-star" aria-hidden="true" width = "500%"></i>
            {% endif %}
            {% if restaurant.average_rating > 1.5 %} 
            <i class="fa fa-star" aria-hidden="true"></i>
            {% endif %}
            {% if restaurant.average_rating > 2.5 %} 
            <i class="fa fa-star" aria-hidden="true"></i>
            {% endif %}
            {% if restaurant.average_rating > 3.5 %} 
            <i class="fa fa-star" aria-hidden="true"></i>
            {% endif %}
            {% if restaurant.average_rating > 4.5 %} 
            <i class="fa fa-star" aria-hidden="true"></i>
            {% endif %}
            &nbsp
            <i> {{ restaurant.average_rating }}<i> 
        </li>
        <li>Endereço: {{ restaurant.endereco }}</li>
        <li>Tipo de comida: {{ restaurant.comida }}</li>
        <li>Faixa de preço: {{ restaurant.preco }}</li>
        <!-- {% if restaurant.author_id == user.id %} -->
        <!-- <li><a href="{% url 'restaurants:update' restaurant.id %}">Editar</a></li> -->
        <!-- <li><a href="{% url 'restaurants:delete' restaurant.id %}">Apagar</a></li> -->
        <!-- {%endif%} -->
        <li><textarea name="text" rows="4" class="form-control">{{ restaurant.text }}</textarea></li>
        
    </ul>
</section>
{% include 'includes/alerts.html'%}

<hr>
<a href="{% url 'restaurants:resenha' restaurant.pk %}"><button>Crie sua Resenha</button></a>
<hr>
<section>
    <header>
        <h3>Resenhas</h3>
    </header>
    <ul>
        {% if restaurant.resenha_set.all %}
            {% for resenha in restaurant.resenha_set.all|dictsortreversed:"data" %}
                <figure>
                    <blockquote>
                        "{{ resenha.text }}"
                    </blockquote>
                    <figcaption>—{{ resenha.author }}, Nota: {{ resenha.rating }}, Data:{{resenha.data|date:"SHORT_DATE_FORMAT"}}
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhuma resenha para este restaurante.</p>
        {% endif %}
    </ul>
    

</section>

{% endblock content %}

