{% extends 'base.html' %}

{% block title %}
{{ restaurant.name }} 
{% endblock title %}

{% block content %}
{% if restaurant %}
<h2>Detalhes do Filme {{ restaurant.name }}</h2>

<section class="dados-de-filme">
    <img src="{{ restaurant.poster_url }}" alt="Poster do filme {{ restaurant.name}}">
    <ul>
        <li>Nome: {{ restaurant.name }}</li>
        {% if restaurant.author_id == user.id %}
        <li><a href="{% url 'restaurants:update' restaurant.id %}">Editar</a></li>
        <li><a href="{% url 'restaurants:delete' restaurant.id %}">Apagar</a></li>
        {%endif%}
    </ul>
</section>

<hr>

<section>
    <header>
        <h3>Resenhas</h3>
    </header>
    <ul>
        {% if restaurant.resenha_set.all %}
            {% for resenha in restaurant.resenha_set.all %}
                <figure>
                    <blockquote>
                        "{{ resenha.text }}"
                    </blockquote>
                    <figcaption>—{{ resenha.author }}
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhuma resenha para este filme.</p>
        {% endif %}
    </ul>


</section>
{% else %}
<h>Não tem Restaurante ainda?</h>
<h>Bora criar?</h>
<a href="{% url 'restaurants:create' %}">Criar restaurante</a></p>
{% endif %}


{% endblock content %}

